body {
	max-width: 800px;
  	margin: auto;
}

footer {
	font-family: "Fantasy", Copperplate;
}

a {
	text-decoration: none;
	color: green;
	cursor: pointer;
}

a:visited {
	text-decoration: none;
  	color: red;
  	cursor: pointer;
}

h1 {
  text-shadow: 1px 1px;
  font-family: "Sans-serif", Verdana;
}

h2 {
  font-family: "Sans-serif", Verdana;
}

h3 {
  font-family: "Sans-serif", Verdana;
}

p {
	font-family: "Serif", Georgia;
}

p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

p.capitalize {
  text-transform: capitalize;
}

ul.a {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ul.b {
  list-style-type: square;
  list-style-position: inside;
  margin-left: 15px;
}

ol.c {
  list-style-type: upper-roman;
  list-style-position: inside;
  margin-left: 15px;
}

.main {
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    max-width: 600px;
    margin: auto;
}
ul.bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #24252A;
}
li.bar{
  float: left;
}
li.bar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}
li.bar a:hover{
  background-color: black;
}


section {
  margin-bottom: 20px;

}