
.container-sm {
    /*background-color: lightblue;*/
}

.normal-wrapper {
    width: auto;
    margin: 0 auto;
    padding: 15px 40px;
    background: red;
    overflow: auto;
}

.one-third {
    width: 40%;
    float: left;
    box-sizing: border-box;
    /* ensure padding and borders do not increase the size */
    margin-top: 20px;
}

.two-third {
    width: 60%;
    float: left;
    box-sizing: border-box;
    /* ensure padding and borders do not increase the size */
    padding-left: 40px;
    text-align: right;
    margin-top: 20px;
}

.featured-image {
    max-width: auto;
    /* reduce image size while maintaining aspect ratio */
}

.no-margin-top {
    margin-top: 0;
    /* remove margin on things like headers */
}

/**/



nav .navbar-nav li a {
    color: #6A60FF !important;
    font-size: 1.2rem !important;
    font-weight: 700;
}

#copyright {
    text-align: center;
}


.login-container {
    float: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    margin: 10px;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #6A60FF;
    font-size: 2rem !important;
    font-weight: 600;
}

.login-container form {
    padding: 3%;
}

.login-container input {
    padding: 3%;
    margin: 2%;
}

.btnSubmit {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 800;
    color: yellow;
    background-color: #6A60FF;
}


.ForgetPwd {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;

}

.login-form-1 .ForgetPwd {
    margin: 25%;
    color: #6A60FF;
    font-weight: 600;
    text-decoration: none;
}

label {
    margin-left: 5px;
}

.card {
    padding: auto;
    margin-top: 5px;

    width: auto;
    height: auto
}


.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100vh - 210px);
    overflow-y: auto;

}

a:hover {
    cursor: pointer;
    }

@media only screen and (min-device-width: 375px) and (max-width: 1920px){
    [class*="col-"] {
        width: 100%;
    }
* {
    box-sizing: border-box;
  }
  
nav .navbar-nav li a {
    color: #6A60FF !important;
    font-size: 1.2rem !important;
    font-weight: 700;
}

#copyright {
    text-align: center;
}

/*Desination*/

.Readmore {
    margin-top: 1px;
    text-align: center;
}
button{
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #463C3C;
  opacity: 0.6;
  transition: 0.3s;
}
button:hover 
{
    opacity: 1;
}
#welcome {
    background-image: url(imgDes/10.jpg);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}
.intro_content {
   
    width: 30%;
    margin-right: 1em;
    background-color: #f0f8ff;
    text-align: center;
    float: right;
}
.Readmore p{
    font-size: 15px;
}
#pic {
    max-width: 65%;
    height: auto;
}
.H2{
    text-align: center;
    font-size: 10px;
}
#text{
    font-size: 10px;
}
.p{
    text-align: center;
    font-size: 10px;
    margin-top: 1em;
}
.loc{
    margin-top: 16em;
    background-color: #f0f8ff;
}
.loc h1{
    font-size: 10px;
    text-align: center;
}

.loc__content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.loc__member img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: 1em;
}

.loc__items {
    padding: 15px;
}
.loc__member {
    position: relative;
}
.loc__title {
    background-color: black;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    color: white;
    bottom: 0;
    transition: .5s;
}
.loc__items:hover .loc__title {
    opacity: 0;
    transition: .5s;
}
.loc__title p {
    padding: 5px 20px;
}
.loc__detail {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    padding: 10px 3px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: all .8s;
}
.loc__detail p{
    font-size: 2px;
}
.loc__items:hover .loc__detail {
    opacity: 1;
    transition: all .8s;
}
.loc__detail p {
    line-height: 10px; 
}
.loc__member {
    overflow: hidden;
}
}
