body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    background: linear-gradient(-45deg, #ee7752, #e7b93c, #0fb345, #a4c415);
	background-size: 100% 200%;
  }

  header{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(229, 240, 133);
    padding: 20px;
    
  }
  
  main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: aliceblue;
    padding: 20px;
  }
  h3 {
    background-color: rgb(210, 226, 255);
  }

  footer{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(157, 204, 248);
    padding: 20px; 
  }

  section {
    margin-bottom: 20px;

  }
  



  