.container-sm {
    /*background-color: lightblue;*/
}

.normal-wrapper {
    width: auto;
    margin: 0 auto;
    padding: 15px 40px;
    background: red;
    overflow: auto;
}

.one-third {
    width: 40%;
    float: left;
    box-sizing: border-box;
    /* ensure padding and borders do not increase the size */
    margin-top: 20px;
}

.two-third {
    width: 60%;
    float: left;
    box-sizing: border-box;
    /* ensure padding and borders do not increase the size */
    padding-left: 40px;
    text-align: right;
    margin-top: 20px;
}

.featured-image {
    max-width: auto;
    /* reduce image size while maintaining aspect ratio */
}

.no-margin-top {
    margin-top: 0;
    /* remove margin on things like headers */
}

/**/



nav .navbar-nav li a {
    color: #6A60FF !important;
    font-size: 1.2rem !important;
    font-weight: 700;
}

#copyright {
    text-align: center;
}


.login-container {
    float: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    margin: 10px;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #6A60FF;
    font-size: 2rem !important;
    font-weight: 600;
}

.login-container form {
    padding: 3%;
}

.login-container input {
    padding: 3%;
    margin: 2%;
}

.btnSubmit {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 800;
    color: yellow;
    background-color: #6A60FF;
}


.ForgetPwd {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;

}

.login-form-1 .ForgetPwd {
    margin: 25%;
    color: #6A60FF;
    font-weight: 600;
    text-decoration: none;
}

label {
    margin-left: 5px;
}

.card {
    padding: auto;
    margin-top: 5px;

    width: auto; 
    height: auto
}


.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    
}

a:hover {
    cursor: pointer;
}