.gridContainer {
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
  background-color: yellow;
  
  div {
    background-color: red;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
  }
}