<head>
    <title>POST Url</title>
</head>

    <script>
 
     function getURL() {
                var text=("The data send to this page is: " + window.location.href);
                document.write(text);
            }
    </script>
    </script>
<body>
    <script> this.getURL();</script>
</body>
