.main {
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 240px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    max-width: 800px;
    margin: auto;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 820px;
    margin: auto;
}

img {
    max-width: 820px;
    max-height: 850px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside>p {
    margin: .5rem;

}

p {
    font-family: 'Fira Sans', sans-serif;
}

label {
    padding: 3.5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    display: inline-block;
}

input {
    padding: 2.5px;
    margin-top: 1.5px;
    margin-bottom: 1px;
    border: thin #c0c0c0 solid;
}

input:required {
  border: 1px solid black;
}

input:invalid {
  border: 2px solid red;
}

ul li {
    list-style: none;
}