body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 30px;
    color: rgb(0, 0, 0);
    background-color: #22fcdf;
	background-size: 100% 200%;
  }

  header{
    max-width: 2000px;
    width: 200%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(183, 199, 241);
    padding: 20px;
    
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    }
      
li {
    float: left;
    }
      
li a {
    display: block;
    padding: 8px;
    }

  main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(55, 220, 241);
    padding: 20px;
  }
  h2 {
    background-color: rgb(78, 109, 247);
  }

  footer{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(157, 204, 248);
    padding: 20px; 
  }

  section {
    margin-bottom: 20px;

  }
  