html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial';
    /* initial fonts */
}

.normal-wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 15px 40px;
    background: red;
    overflow: auto;
}

#top-bar {
    width: 100%;
    background: #F1F1F1;
    /* light gray */
    border-bottom: 1px solid #D4D4D4;
    /* dark gray "underline" */
    height: 25px;
}

.logo-icon {
    color: #000000;
    font-size: 20pt;
    float: left;
}

h4 {
    float: left;
    margin: 23px 0 0 25px;
}

#navbar {
    list-style-type: none;
    /* remove bullet points */
    margin: 29px 0 0 0;
    padding: 0;
    float: right;
    font-size: 10pt;
}

#navbar li {
    display: inline;
    /* make items horizontal */
}

#navbar li a:link,
#navbar li a:visited,
#navbar li a:active {
    text-decoration: none;
    /* remove underline */
    color: #000000;
    padding: 0 16px 0 10px;
    /* space links apart */
    margin: 0;
    border-right: 2px solid #B4B4B4;
    /* divider */
}

#navbar li a:link.last-link {
    /* remove divider */
    border-right: 0px;
}

#navbar li a:hover {
    /* change color on hover (mouseover) */
    color: #EB6361;
}





.one-third { 
    width: 40%; 
    float: left; 
    box-sizing: border-box; /* ensure padding and borders do not increase the size */ 
    margin-top: 20px;
}
.two-third { 
    width: 60%; 
    float: left; 
    box-sizing: border-box; /* ensure padding and borders do not increase the size */ 
    padding-left: 40px; 
    text-align: right; 
    margin-top: 20px;
}
.featured-image { 
    max-width: 500px; /* reduce image size while maintaining aspect ratio */
}
.no-margin-top { 
    margin-top: 0; /* remove margin on things like headers */
}